awscli==1.16.67
awsebcli==3.14.6
beautifulsoup4==4.6.3
bleach==3.0.2
blessed==1.15.0
boto==2.49.0
boto3==1.9.53
botocore==1.12.57
bz2file==0.98
cached-property==1.5.1
cement==2.8.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.3.9
Django==1.11.16
django-contrib-comments==1.9.0
docker==3.6.0
docker-compose==1.21.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
dropbox==9.2.0
filebrowser-safe==0.5.0
Flask==1.0.2
future==0.17.1
gensim==3.6.0
glob2==0.6
grappelli-safe==0.5.1
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
line-bot-sdk==1.8.0
mail-parser==3.7.1
MarkupSafe==1.1.0
Mezzanine==4.3.1
numpy==1.15.4
oauthlib==2.1.0
opencv-python==3.4.4.19
pathspec==0.5.5
Pillow==5.3.0
pyasn1==0.4.4
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2018.7
PyYAML==3.13
requests==2.18.4
requests-oauthlib==1.0.0
rsa==4.7
s3transfer==0.1.13
scipy==1.1.0
semantic-version==2.5.0
simplejson==3.16.0
six==1.11.0
smart-open==1.7.1
termcolor==1.1.0
texttable==0.9.1
tika==1.19
tika-app==1.5.0
tzlocal==1.5.1
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
wikiextractor==2.69
